<!DOCTYPE html>
<html>
<head>
    <title>Harini Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
</nav>

<div class="container">

    <div class="card">

        <h1>HARINI KANIGELPULA</h1>

        <h3>Middleware Engineer</h3>

        <p>
            Senior Engineer with 8+ years of experience in Dell Boomi Administration, Enterprise Integration, PKI/SSL Certificate Management, Microsoft ADCS, AWS, Azure, SRE Operations, and DevOps Support. Expertise in managing Boomi platforms, SSL certificate lifecycle management, CA renewals, Azure certificate administration, cloud operations, incident management, production support, and infrastructure reliability. Strong knowledge of Terraform, Kubernetes, Docker, Jenkins, and Git.
        </p>

        <p>
            Certified Dell Boomi Professional with expertise in:
        </p>

        <ul>
            <li>Dell Boomi Integration</li>
            <li>REST & SOAP APIs</li>
            <li>Application Monitoring</li>
            <li>Certificate Management</li>
            <li>Cloud Integrations</li>
        </ul>

    </div>

</div>

</body>
</html>