<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
</nav>

<div class="container">

<h1>Projects</h1>

<div class="card">

<h2>Employee Data Integration</h2>

<p>
Designed and implemented integrations between
enterprise applications using Dell Boomi.
</p>

</div>

<div class="card">

<h2>Certificate Management</h2>

<p>
Managed SSL certificates, renewals,
and troubleshooting across environments.
</p>

</div>

<div class="card">

<h2>Sudoku Game using Flask & Docker</h2>

<p>
Developed a Sudoku web application using
Python Flask and Docker.
</p>

</div>

</div>

</body>
</html>