<!DOCTYPE html>
<html>
<head>
    <title>Resume</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
</nav>

<div class="container">

<div class="card">

<h1>Resume</h1>

<p>
Click below to download my resume.
</p>

<a class="btn"
href="{{ url_for('static', filename='Harini_Resume.pdf') }}"
download>
Download Resume
</a>

</div>

</div>

</body>
</html>